{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<dev class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>{{ blog.name }}</h2>
            <span>Author: {{blog.author}}</span>
            <div>
                <small>{{ blog.post_date }}</small>
            </div>

            <div>
                {% if user.is_authenticated %}
                    {% if user.id == blog.author.id %}
                    <a class="btn btn-sm btn-info" href="{% url 'UpdateBlogView' blog.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit Blog</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'DeleteBlogView' blog.id %}"> <i class="fa-solid fa-trash"></i> Delete Blog</a>
                    {% endif %}
                {% endif %}
            </div>

            <div>
                <p>{{blog.description|safe}}</p>
            </div>

            <div class="col">
                <h3>Comments ({{all_comments.count}})</h3>

                {% for comment in all_comments %}
                    <div class="card mb-2">
                        <div class="card-header">
                            {{ comment.author }} <br>
                            {{ comment.comment_date| timesince }} ago
                        </div>

                        <div class="card-body">
                            <blockquote class="blockquote mt-2">
                                <p>{{ comment.description }}</p>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col">
                {% if user.is_authenticated %}
                    {% if blog.author.id == user.id %}
                        <h3 class="text-center text-warning">You are not allowed to post comment on your own blog</h3>
                    {% else %}
                    <h3>Write your comment...</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-outline-primary">Comment</button>
                    </form>
                    {% endif %}
                {% else %}
                    <h2 class="text-center text-danger">Please Login to comment on this post <a href="{% url 'login' %}">Login</a></h2>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                {% for blogs in all_blogs %}
                    <li class="list-group-item">
                        <a href="{% url 'blog_detail' blogs.slug %}" class="text-decoration-none">{{blogs.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</dev>

<script>
    var name = "{{ user.id }}"
    var blog = "{{ blog.id }}"
    document.getElementById("author").value = name;
    document.getElementById("blog").value = blog;
</script>
{% endblock content %}