{% extends 'base.html' %}

{% block content %}
    <h1 class="red_color">Blog Home</h1>
    <div class="row">
        {% for data in blogs %}
        <div class="col-sm-6 mt-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ data.name }}</h5>
                    <span class="badge bg-success">{{data.author}}</span>
                    <p class="card-text">
                        {{data.description| truncatechars:100}}
                    </p>
                    <a href="{% url 'blog_detail' data.slug %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}