{% extends 'base.html' %}

{% block content %}
<dev class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>{{ blog.name }}</h2>
            <span>Author: {{blog.author}}</span>
            <div>
                <small>{{ blog.post_date }}</small>
            </div>

            <img src="https://images.pexels.com/photos/11013073/pexels-photo-11013073.jpeg?cs=srgb&dl=pexels-anil-singh-11013073.jpg&fm=jpg"
                alt="" width="40%">

            <div>
                <p>{{blog.description}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>
</dev>
{% endblock content %}