{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ user_related_data.count }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Total Post</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ user_comments.count }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Total Reaction</h6>
            </div>
        </div>
    </div>
</div>

<div>
    <h4 class="mt-3">Posts</h4>

    <div class="row mt-2">
        <div class="col-md-12">
            {% for post_data in page_obj %}
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <div class="row">
                            <div class="col-md-6">
                                <p>{{post_data.name}}</p>
                            </div>
    
                            <div class="col-md-6">
                                <p class="text-end"><i class="fa-solid fa-clock"></i> {{post_data.post_date|timesince}}</p>
                            </div>
                        </div>
                        <footer class="blockquote-footer">{{post_data.mini_description |truncatewords:50}}</footer>
                    </blockquote>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-primary" href="{% url 'blog_detail' post_data.slug %}"><i
                            class="fa-brands fa-readme"></i> Read Blog</a>
                    <a class="btn btn-sm btn-info" href="{% url 'UpdateBlogView' post_data.id %}"><i
                            class="fa-solid fa-pen-to-square"></i> Edit Blog</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'DeleteBlogView' post_data.id %}"> <i
                            class="fa-solid fa-trash"></i>Delete Blog</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-5">
        <nav aria-label="Page navigation example">
            
            <ul class="pagination justify-content-between">
               
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                {% endif %}
    
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock content %}