{% extends 'base.html' %}

{% block content %}
<h2>Change Password for {{user.username}}</h2>

<br>
<br>
<form method="post">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Old Password</label>
            {{form.old_password}}
        </div>

        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">New Password</label>
            {{form.new_password1}}
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Confirm new password</label>
            {{form.new_password2}}
        </div>
      </div>

      <h4 class="mt-4">Rules</h4>
      <ul class="list-group">
        <li class="list-group-item">1. Your password can’t be too similar to your other personal information.</li>
        <li class="list-group-item">2. Your password must contain at least 8 characters.</li>
        <li class="list-group-item">3. Your password can’t be a commonly used password.</li>
        <li class="list-group-item">4. Your password can’t be entirely numeric.</li>
      </ul>

    <button type="submit" class="btn brn-lg btn-success mt-3">change Password</button>
</form>
{% endblock content %}